.containerA {
    background-color: rgb(89, 3, 122);
    width: 1000px;
    height: 700px;
}

.nava {
    background-color:  blueviolet;
    width: 500px;
    height: 300px;
}

.a {
    display: flex;
    padding: 1rem;
    background-color: rgb(146, 19, 140);
    border-radius: 10px;
    margin: 5px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
    text-decoration: none;
    width: 60px;
}

a:hover {
    background-color: rgb(13, 75, 146);
    color: white;
    text-decoration: none;
    padding: 20px;
    border-radius: 1px;
    transition: 0.1s;
    margin: 1px;
    display: block;
    list-style: none;
    align-items: center;
    justify-content: flex-start;
}

.containerB {
    background-color: rgb(89, 3, 122);
    width: 1000px;
    height: 700px;
    justify-content: flex-end;
    display: flex;
}

.navb {
    background-color: blueviolet;
    width: 500px;
    height: 300px;
    justify-content: flex-end;
}

.b {
padding: 10px 10px;
border-style: none;
margin-top: 50px;
margin: 15px;
background-color: purple;
border-radius: 20px;
box-shadow: 0 0 0 6px black, 0 0 0 12px purple;
font-size: 10px;
font-family: arial;
text-transform: uppercase;
transition: 0.3s;
cursor: pointer;
display: inline-flex;
}

.b:hover {
  box-shadow: 0 0 0 10px black, 0 0 0 18px rgb(13, 75, 146);
  border-radius: 40px;
}

.containerC {
    background-color: rgb(89, 3, 122);
    width: 1000px;
    height: 700px;
    display: flex;
    align-items: flex-end;
}

.navc {
    background-color: blueviolet;
    width: 500px;
    height: 300px;
    display: block;
    align-items: flex-start;
}


.c {
width: 10px;
height: 10px;
background-color: rgb(146, 19, 140);
margin: 5px;
padding: 10px 40px;
justify-content: center;
align-items: center;
border: 5px solid black;
cursor: pointer;
transition: 0.3s;
display: flex;
}


.containerD {
    background-color: rgb(89, 3, 122);
    width: 1000px;
    height: 700px;
    display: flex;
    justify-content:flex-end;
    align-items:flex-end;
}

.navd {
    background-color: blueviolet;
    width: 500px;
    height: 300px;
    display: block;
    align-items: flex-start;
}

.d {
    position: relative;
    background-color: rgb(146, 19, 140);
    border-radius: 10px;
    padding: 10px 40px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 5px;
    color: rgb(146, 19, 140);
    color: white;
    text-decoration: none;
    display: inline-flex;
    
    transition: color 200ms;
  }
  
  .d:hover {
    color: white;
  }
  
  .d::before {
    content: '';
    background-color: rgb(13, 75, 146);
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 10%;
    z-index: -1;
    
    transition: transform 500ms;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  }
  
  .d-slide-left::before {
    transform: scaleX(0);
  }

.containerF {
    background-color: rgb(89, 3, 122);
    width: 1000px;
    height: 700px;
    display: flex;
    justify-content:center;
    align-items:center;
}

.navf {
    background-color: blueviolet;
    width: 500px;
    height: 300px;
}